<div class="slideshow-wrapper">
	<div class="preloader"></div>
	<ul data-orbit data-options="<%= carousel.options %>">
		<% carousel.items.each do |item| %>
			<li>
				<%= partial(:'partials/image/interchange_image', :locals => { :interchange_image => item.image }) %>
				<div class="orbit-caption">
					<h2><%= item.title %></h2>
					<h3 class="sub-title"><%= item['sub-title'] %></h3>
					<a href="<%= item.button.href %>" class="read-more" data-icon="<%= item.button.icon %>"><%= item.button.text %></a>
				</div>
			</li>
		<% end %>
	</ul>
</div>
