<li><a href="<%= product_teaser.link %>">
	<div class="product-teaser">
		<figure title="<%= product_teaser.title %>">
			<img src="<%= product_teaser.image %>"/>
		</figure>
		<h4><%= product_teaser.title %></h4>
		<p><%= product_teaser.lead %></p>
	</div></a>
</li>
